
button {

    border-radius: 15px;
    font-size: 2rem;
    margin-top: 30px;
}

h1 {
    font-size: 3rem;
    margin: 30px;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
    max-width: 800px;
}

.card {
    background-color: antiquewhite;
    border-radius: 5px;
    border-style: groove;
    min-height: 400px;
}

#password-container {
    background-color: aliceblue;
    width: 90%;
    margin: auto;
    padding: 40px;
    margin-top: 30px;
    border: groove;
}